.form-container{
    --active:#1fd1ec;
    --light:#9ca3af;

    --rainbo: #f87171;
    --grass:#bada55;

    --shadow-md: 0px 0px 10px rgb(45, 48, 62,0.15);
    --shadow-xl:0px 0px 6px rgba(95, 20, 20, 0.16);

    --shadow-focus: 0px 0px 6px rgba(32, 211, 238,0.5);
    --shadow-active:0px 0px 5px rgba(32, 211, 238,0.5);
}

/* Query Cleaner */
.owl-form-cleaner{
    flex-wrap:  wrap;
    display:  flex;
    gap: 10px;
    box-shadow: inset 0px 0px 8px #f8717155;
    border-radius:var(--md);
    margin-top: 10px;
    padding: 10px;
}

/* Container */
.form-container {
    padding: var(--sm);
    gap: 10px;
    margin-block:5px;
    background-color: var(--background);
    max-width: 100%;
    /* border-radius:var(--md); */
    /* box-shadow:var(--shadow-md); */
    /* border-bottom: var(--crow-2) solid 1px; */
}

/* Section */
.form-section {
    gap: 14px;    
    border-radius:var(--md);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    overflow: auto;
    align-items: center;
    padding: var(--xs);
}

.more-options-section {
    display: flex;
    flex-direction: column;
    gap: var(--md);    
    border-radius:var(--md);
    padding: var(--xs);
}

.clear-icon{
    color: rgb(252, 165, 165);
    font-size: 24px;
    /* background-color: var(--lord); */
    font-family: var(--font-bold);
    font-weight: 300;
    left: 10px;
    padding-right: 3px;
    padding-top: 2px;
    z-index: 10;
    position: absolute;
    cursor: pointer;
}
.clear-icon.hide{
    display: none;
}

.owl-toggle-button{
    display: flex;
    margin-inline: 8px;
    align-items: center;
    flex-direction: row;
    margin-block:auto;
}

.owl-toggleed-bg{
    cursor: pointer;
    padding: 2px;
    display: flex;
    margin: 0 4px;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
    background-color: var(--prince);
    box-shadow: var(--shadow-md);
    padding-left: 22px;
}

.owl-toggleed-bg span{
    padding: 10px;
    border-radius: 24px;
    background-color: var(--prim);
    box-shadow: var(--shadow-lg);
}

.owl-toggleed {
    padding-right: 22px;
    padding-left: 2px;
     background-color:var(--grass); /*#F87171; */
}

/* Selector */
.owl-options-container {
    background-color: var(--throne);
    gap: var(--md);
    padding:5px;
    border-radius:var(--md);
    box-shadow: var(--shadow-md);
    overflow-x: auto;
    transition: all 200ms ease-out;
    display:grid;
    overflow-y: hidden;
    grid-template-rows: repeat(auto-fill,minmax( auto, 0.35fr)); 
    grid-auto-flow: column;
    padding-inline:0.5rem;
}

.owl-options-container::-webkit-scrollbar { height: 4px;width: 4px;}
.owl-options-container::-webkit-scrollbar-track {background-color: #e4e4e4;border-radius: 100px;margin: 10px;}
.owl-options-container::-webkit-scrollbar-track {background-color: #e4e4e4;}
.owl-options-container::-webkit-scrollbar-thumb {  border-radius: 6px;}
.owl-options-container:hover::-webkit-scrollbar-thumb {background-color: #3f3c4d55;}

 
.owl-options-title {
    font-family: var(--font-bold);
    font-weight: bold;
}

.owl-button-options{
    color: var(--text);
    background-color: var(--prince);
    border-radius:var(--md);
    padding:var(--xs) var(--lg);
    text-align: center;
    font-size: var(--font-xs);
    border: none;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: var(--shadow-md);
    font-family: var(--font-bold);
    font-weight: bold;
    min-width: max-content;
}

.popup-selector-button-svg{
    fill: var(--crow) !important;
}

.owl-selctor {
    box-shadow: var(--shadow-md);
    border-radius:var(--md);
    padding: 0.5rem;
    outline: none;
    border: none;
    align-self: center;
    font-family: var(--font-bold);
    font-weight: bold;
}

/* Date */
.owl-label-container{
    flex-direction: row;
    align-items: center;
    max-width: 160px;
    display:  flex ;
    flex-grow: 1;
    gap: var(--xs);
    padding: 9px;
    border-radius:var(--md);
    background-color: var(--lord);
    justify-content: space-between;
    box-shadow: var(--shadow-md);
}

.owl-label{
    color: var(--shark);
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 300;
    margin-block: -20px;
    font-family: var(--font-bold);
}

.owl-date{
    outline: none;
    border: none;
    font-family: var(--font-bold);
    font-weight: bold;
    color: var(--shark);
    background-color: var(--lord);
}

/* Button */
.owl-button-conatiner{
    position: relative;
}

.owl-button{
    font-family: var(--font-bold);
    background-color: var(--lord);
    color: var(--rainbo);
    border-radius:var(--md);
    padding: 4px 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: var(--shadow-md);
}


.owl-button-conatiner{
    position: relative;
}


.selected{
    /* box-shadow: var(--shadow-active) !important; */
    background-color:var(--active) ;
    color: var(--white) !important;
}


.popup-selector-button{
    display: flex;
    flex-direction: row;
    font-family: var(--font-bold);
    font-weight: bold;
    color: var(--crow);
    padding: var(--sm) var(--md) ;
    cursor: pointer;
    box-shadow: var(--shadow-md);
    background-color: var(--prim);
    border-radius: var(--md);
    align-items: center;
    gap: var(--md);
}

.popup-selector-container{
    position: fixed;
    inset: 0;
    background-color:var(--popup);
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(1px);
    transition: all 0.1s ease-in-out;
    animation:  bluer 0.1s;
    z-index: 999;
    justify-content: center;
    padding: 20px;
}

.popup-selector{
    width: 100%;
    margin: auto;
    background-color: var(--prim);
    color: var(--crow);
    border-radius:var(--md);
    box-shadow: var(--shadow-md);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    max-height: 70%;
    overflow-y: auto;
    text-align: center;
    max-width: calc(100% - 40px);
}
@media screen and (min-width: 768px) {
    .popup-selector{
        max-width: 400px;
    }
}

.popup-selector-option{
    font-family: var(--font-bold);
    font-weight: bold;
    color: var(--crow);
    padding: 10px 20px;
    border-radius:var(--md);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    box-shadow: var(--shadow-md);
    background-color: var(--prince);
}

.cannot-select svg{
    opacity: 0.2 !important;
}

.owl-popup-container{
    position: absolute;
    inset: 0;
    background-color:#2c3e5022;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(1px);
    /* transition: all 0.1s ease-in-out; */
    animation:  bluer 0.1s;
}
@keyframes bluer {
    0% {
        background-color:#2c3e5000;
        backdrop-filter: blur(0px);
    }
    100% {
        background-color:#2c3e5022;
        backdrop-filter: blur(1px);
    }
}


.popup-builder{
    position: fixed;
    inset: 0;
    background-color:#2c3e5022;
    backdrop-filter: blur(1px);
    transition: all 0.1s ease-in-out;
    animation:  bluer 0.1s;
    z-index: 300;
    padding: 100px 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}


.popup-child{
    margin: auto;
    gap: 10px;
    animation: popup-fade 0.2s;
    max-width: 500px;
    width: 100%;
}
@keyframes popup-fade {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.scanner{
    background-color: transparent !important;
}